@import 'tools/variables';
@import 'tools/helpers';
.back{
    display:flex;
    align-items: center;
    gap: spacing(0,1);
    align-self: flex-start;

    svg {
        fill: var(--color-text-primary);
    }
}