@use "sass:meta";
@import "tools/reset";
@import "tools/fonts";
@import "tools/helpers";

:root{
    --primaryColor: #{meta.inspect($cornflowerBlue)};
    --defaultFont: #{meta.inspect($roboto)};
}

html{
    font-size: $defaultPx;
    font-family: var(--defaultFont);
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size:1.75rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1.25rem;
}
h5{
    font-size:1rem;
}