@use "sass:meta";
@use "sass:color";
@import "tools/reset";
@import "tools/fonts";
@import "tools/helpers";

:root{
    --primaryColor: #{meta.inspect($buttonColor)};
    --defaultFont: #{meta.inspect($roboto)};
    --color-white: #f0f6fc;
    --color-purple: #340D6A;
    --color-yellow: #f2ce3f;
    --color-black: #333;
    --color-goshawk-grey: #444;
    --color-red: hsl(0 100% 40% / 1);
    --color-red-dark: hsl(0 100% 31% / 1);
    --color-700: #3E4C59;
    --color-900: #1F2933;
    --color-river-styx: #161b22;
    --color-black-is-back:#0d1117;
    --color-simply-blue: #adbac7;
}

html{
    font-size: $defaultPx;
    font-family: var(--defaultFont);
    line-height:1.5;
}

body,
body[data-theme="light"] {
  --color-bg-body: var(--color-white);
  --color-text-primary: var(--color-black);
  --color-bg-primary: #fff;
  --color-bg-logo: var(--color-white);
  --color-bg-logo-hover: #{meta.inspect(color.scale($white, $lightness: -15%))};
  --color-bg-card:var(--color-bg-primary);
  --color-bg-card-title: var(--color-white);
  --color-bg-nav: rgb(255,255,255, .95);
  --color-bg-nav-item: var(--color-red);
  --color-bg-topnav: var(--color-white);
  --color-bg-scroll: var(--color-bg-primary);
  --color-fill-heart: var(--color-red);
  --color-bg-pill: var(--color-purple);
  --color-text-pill: var(--color-bg-primary);
  --color-fill-moon: var(--color-black);
  --color-fill-lines: var(--color-black);
  --color-bg-dropdown: var(--color-bg-card);
  --color-bg-dropdown-btn: var(--color-bg-primary);
  --color-border: #ddd;
  --color-bg-scroll: var(--color-white);
  --color-bg-button: var(--color-goshawk-grey);
  --color-bg-button-hover: #{meta.inspect(color.scale(#444,$lightness: -45%))};

} 

body[data-theme="dark"] {
  --color-bg-body: var(--color-black-is-back);
  --color-text-primary: #adbac7;
  --color-bg-primary: hsl(215 33% 13%);
  --color-bg-light:hsl(215 33% 18%);
  --color-bg-lighter: hsl(215 33% 24%);
  --color-bg-logo: var(--color-river-styx);
  --color-bg-logo-hover: #{meta.inspect(color.scale(#161b22, $lightness: 5%))};
  --color-bg-card: var(--color-bg-light);
  --color-bg-card-title: #{meta.inspect(color.scale(#0d1117, $lightness: 5%))};
  --color-bg-nav: #{meta.inspect(rgb($backInBlack, .95))};
  --color-bg-nav-item: var(--color-red-dark);
  --color-bg-topnav:var(--color-river-styx);
  --color-bg-scroll: var(--color-bg-lighter);
  --color-bg-pill: var(--color-white);
  --color-fill-heart: var(--color-red-dark);
  --color-text-pill: var(--color-bg-primary);
  --color-fill-moon: var(--color-simply-blue);
  --color-fill-lines: var(--color-white);
  --color-bg-dropdown: var(--color-bg-lighter);
  --color-bg-dropdown-btn: var(--color-bg-lighter);
  --color-border:var(--color-bg-light);
  --color-bg-scroll: #adbac7;
  --color-bg-button: #{meta.inspect(color.scale(#0d1117, $lightness: 8%))};
  --color-bg-button-hover: var(--color-river-styx);

}
body {
    background: var(--color-bg-body);
    color: var(--color-text-primary);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size:1.75rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1.25rem;
}
h5{
    font-size:1rem;
}
a, p {
    color: var(--color-text-primary);
}
