@use "sass:meta";
@import "tools/reset";
@import "tools/fonts";
@import "tools/helpers";

:root{
    --primaryColor: #{meta.inspect($cornflowerBlue)};
    --defaultFont: #{meta.inspect($roboto)};
}

html{
    font-size: $defaultPx;
    font-family: var(--defaultFont);
}

